@{
    ViewData["Title"] = "Home Page";
}

<div class="row w-75 justify-content-center">
    <h1>Välkommen till Biblioteket</h1>

    <p>Denna webbsida är skapad för att lista böcker på din bokhylla. Det går att lägga till böcker och se dessa i en lista under Böcker. Det går också att lägga till och se sina 
        genres under Genres.
    </p>
</div>
