@model moment3dotnet.Models.GenreModel

@{
    ViewData["Title"] = "Delete"; 
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
<h1>Radera</h1>
<h3>Ändra du säker på att du vill radera genren?</h3>
<div>
    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Namn på Genre
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GenreName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Radera" class="btn btn-danger" /> |
        <a asp-action="Index">Tillbaka till genrelistan</a>
    </form>
</div>
</body>
</html>
